/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #eef0ff;
  color: #222;
}

/* Button with Animation */
.btn {
  padding: 12px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Navbar */
.navbar {
  background: url("/Assignment-01/Assets/Hero-bg.png") no-repeat center/cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #5b4fff;
}

.logo {
  font-size: 40px;
  font-weight:900;
}